<header>
  <img src="http://www.gravatar.com/avatar/0eee261d5186d420d3bbe7c485f0b794.png" class="my_picture"/> 
  <h1 id="page_title">Marcus McDuffie</h1>
  <div id="bio">Marcus McDuffie is a hobbyist programmer from the Traverse City region who hacks on <a href="http://www.ruby-lang.org/en/">Ruby</a>, <a href="http://rubyonrails.org/">Rails</a>, <a href="http://www.haskell.org">Haskell</a>, <a href="http://www.lua.org/">Lua</a>, Lisp, C and whatever else he feels like.</div>
  <div id="contact">follow me on <a href="http://www.twitter.com/MarcusEMcDuffie">Twitter</a> or check me out on <a href="http://www.facebook.com/profile.php?id=1044309214">Facebook</a>.</div>
</header>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% @posts.each do |post| %>
  <div class="post">
		<%= link_to post.title, { :controller => "public", :action => "show", :id => post }, :class => "post_title"%>
    <div class="post_timestamp"><%= post.created_at.in_time_zone('America/New_York').to_formatted_s(:long_ordinal) %></div>
    <div class="post_body"><%= post.body %></div>
    <div class="hide_button_container"><a href="#" class="hide_button" data-post-id="<%= post.id %>">Show Comments</a></div>
    <div class="post_footer" data-post-id="<%= post.id %>">
      <div id="post_<%= post.id %>_comments">
        Comments:<br />
        <% post.comments.each do |comment| %>
          <div class="comment_author"><%= unless comment.website.nil? then raw "<a href='" << comment.website << "'>" end %><%= comment.author %><%= unless comment.website.nil? then raw "</a>" end %> posted on <%= comment.created_at.in_time_zone('America/New_York').to_formatted_s(:long_ordinal) %>:</div>
          <div class="comment_body"><%= comment.body %></div>
        <% end %>
      </div>
      <%= form_tag('/public/create_comment', :remote => true) %>
        <%= hidden_field_tag 'comment[post_id]', post.id %>
        <div class="field">
          <label for="comment_author">Author</label><br />
          <input id="comment_author" name="comment[author]" size="30" type="text" />
        </div>
        <div class="field">
          <label for="comment_website">Author's Website (optional):</label><br />
          <input id="comment_website" name="comment[website]" data-post-id="<%= post.id %>" size="30" type="text" /><span id="post_<%= post.id %>_website_error" class="website_error"></span>
        </div>  
        <div class="field">
          <label for="comment_body">Body</label><br />
          <textarea cols="40" id="comment_body" name="comment[body]" rows="20"></textarea>
        </div>
        <div class="actions">
          <input name="commit" type="submit" value="Create Comment" />
        </div>
      </form>
    </div>
  </div>
<% end %>