<!DOCTYPE html>
<html>
<head>
  <title>Marcus McDuffie's Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= image_tag("marcus.jpg", :class => "my_picture") %> 
  <h1 id="page_title">Marcus McDuffie</h1>
  <div id="bio">Marcus McDuffie is a hobbyist programmer from the Traverse City region who hacks on <a href="http://www.ruby-lang.org/en/">Ruby</a>, <a href="http://rubyonrails.org/">Rails</a>, <a href="http://www.haskell.org">Haskell</a>, <a href="http://www.lua.org/">Lua</a>, Lisp, C and whatever else he feels like.</div>
</header>
<div id="page_content">
  <%= yield %>
</div>
</body>
</html>
