<!DOCTYPE html>
<html>
<head>
  <title>Marcus McDuffie's Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, {:controller => "public", :action => "feed"}) %>
  <link href="/public/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
</head>
<body>
<header>
  <img src="http://www.gravatar.com/avatar/0eee261d5186d420d3bbe7c485f0b794.png" class="my_picture"/>
  <div id="social_buttons">
    <%= link_to image_tag("twitter-2.png", :border => 0), "http://www.twitter.com/MarcusEMcDuffie", :class => 'social_button' %>
    <%= link_to image_tag("facebook.png", :border => 0), "http://www.facebook.com/profile.php?id=1044309214", :class => 'social_button' %>
    <%= link_to image_tag("github.png", :border => 0), "https://github.com/mmcduffie", :class => 'social_button' %>
    <%= link_to image_tag("rss.png", :border => 0), {:action => 'feed', :controller => 'public', :format => 'rss'}, :class => 'social_button' %>
  </div>
  <h1 id="page_title">Marcus McDuffie</h1>
  <div id="bio">Marcus McDuffie is a hobbyist programmer from the Traverse City region who hacks on <a href="http://www.ruby-lang.org/en/">Ruby</a>, <a href="http://rubyonrails.org/">Rails</a>, <a href="http://www.haskell.org">Haskell</a>, <a href="http://www.lua.org/">Lua</a>, Lisp, C and whatever else he feels like.</div>
</header>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
